<footer id="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">Videogame&nbsp;<span>City</span></a></h3>
            <p class="links"></p>
            <p class="company-name">Videogame City © 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Universidad Tecnologica Metropolitana</span>Yucatan, México</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +52 9991528785</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">Videogamecity@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>¡Siguenos en nuestras redes sociales!</h4>
            <p>Este contenido no esta afiliado, respaldado, patrocinado o aprobado por ninguna empresa registrada.</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</footer>


</body>

</html>