<%- include layouts/header.ejs %>
  <div class="container">
    <h1>
      Bienvenido 
    </h1>
   
    <div class="container" id >
   
      <div id="banner"></div></br>
      
      <div class="container" id="cont">
          <h1>¿Quienes somos?</h1>
          <h6>Videogames city se encarga de recomendarte los juegos mas populares y todas las tendencias acerca del mundo gaming, no te pierdas ningun detalle sobre los titulos mas populares y checa nuestro catalogo, ademas de que podrás enviarnos tus sugerencias de algun titulo que no encuentes</h6>
      </div>
  
    </div>





  </div>
  <%- include layouts/footer.ejs %>